%a.sr-only{:href => "#content"} Skip navigation
%header#header-region{:role => "banner"}

#main-region.rbp-app-container

%footer#footer-region.rbp-footer{:role => "contentinfo"}

= render 'layouts/scripts'