.span12
  .footer
    %ul
      %li

      %li
        Copyright @2013 Rails4BP

/
  Javascripts
  \==================================================
/ Placed at the end of the document so the pages load faster
-#= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js', :defer=> true, :async => true
= render 'layouts/confirm_dialog'
= javascript_include_tag "application"
= yield :scripts

-#%script{:type => 'text/javascript'}
-#  = yield :document_ready
