.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "#"} Raakib
      .nav-collapse.collapse
        %p.navbar-text.pull-right
          Logged in as
          %a.navbar-link{:href => "#"}= current_user.email
        %ul.nav
          %li.active
            %a{:href => "#"} Home
          %li
            %a{:href => "#about"} About
          %li
            %a{:href => "#contact"} Contact
          %li= link_to "<i class=\"icon-user icon-white\"></i> My profile".html_safe, edit_user_registration_path, class: "username"
          %li= link_to "<i class=\"icon-signout icon-white\"></i> Logout".html_safe, destroy_user_session_path, class: "logout", method: :delete
      / /.nav-collapse
