<% if flash.present? %>
    <div class="row-fluid">
      <div class="c-alert">
        <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
                <div class="alert-message <%= name == :notice ? "success" : "error" %>">
                  <i class="icon-info-sign"></i>
                  <button class="close" data-dismiss="alert"><i class="icon-remove-circle"></i></button>
                  <%= content_tag :span, raw(msg), :id => "flash_#{name}" %>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
<% end %>
