!!!
%html{:lang => "en"}
  = head
  %body
    %a.sr-only{:href => "#content"} Skip navigation
    %header.navbar.navbar-inverse.navbar-fixed-top.rbp-app-nav{:role => "banner"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".rbp-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "../"} Bootstrap
        %nav.collapse.navbar-collapse.rbp-navbar-collapse{:role => "navigation"}
          %ul.nav.navbar-nav
            %li.active
              %a{:href => ""} Getting started
            %li
              %a{:href => ""} CSS
            %li
              %a{:href => "../components"} Components
            %li
              %a{:href => "../javascript"} JavaScript
            %li
              %a{:href => "../customize"} Customize
    #content.rbp-header
      .container
        %h1 Getting started
        %p An overview of Bootstrap, how to download and use, basic templates and examples, and more.
        #carbonads-container
          .carbonad
            #azcarbon
              %span.carbonad-image
                %a{:href => "", :target => "_blank", :title => "CSS Dev Conf 2013"}
                  %img.carbonad-image.carbonad-img{:alt => "CSS Dev Conf 2013", :border => "0", :height => "90", :src => "", :title => "CSS Dev Conf 2013", :width => "120"}/
              %span.carbonad-text
                %a{:href => ""}> CSS Dev Conf 2013 You should be here.
              %span.carbonad-tag
                ads via
                %a{:href => "http://carbonads.com"} Carbon
              %img{:border => "0", :height => "0px", :src => "", :width => "0px"}/
    .rbp-old-docs
      .container
        %strong
          %a{:href => "../2.3.2/"} Looking for Bootstrap 2.3.2 docs?
        We've moved it to a new home while we push forward with Bootstrap 3.
        %a{:href => "http://blog.getbootstrap.com/"} Read the blog
        for details.
    .container.rbp-app-container
      .row
        .col-md-3
          .rbp-sidebar.hidden-print.affix-top{:role => "complementary", :style => ""}
            %ul.nav.rbp-sidenav
              %li.active
                %a{:href => "#download"} Download Bootstrap
                %ul.nav
                  %li
                    %a{:href => "#download-compiled"} Compiled CSS, JS, and fonts
                  %li
                    %a{:href => "#download-additional"} Additional downloads
                  %li
                    %a{:href => "#download-cdn"} Bootstrap CDN
              %li
                %a{:href => "#whats-included"} What's included
              %li
                %a{:href => "#template"} Basic template
              %li
                %a{:href => "#examples"} Examples
              %li
                %a{:href => "#disable-responsive"} Disabling responsiveness
              %li
                %a{:href => "#migration"} Migrating from 2.x to 3.0
                %ul.nav
                  %li
                    %a{:href => "#migration-classes"} Major class changes
                  %li
                    %a{:href => "#migration-new"} What's new
                  %li
                    %a{:href => "#migration-dropped"} What's removed
                  %li
                    %a{:href => "#migration-notes"} Additional notes
              %li
                %a{:href => "#browsers"} Browser support
              %li
                %a{:href => "#third-parties"} Third party support
              %li
                %a{:href => "#accessibility"} Accessibility
              %li
                %a{:href => "#license-faqs"} License FAQs
              %li
                %a{:href => "#customizing"} Customizing Bootstrap
        .col-md-9{:role => "main"}
          .rbp-app-section
            .page-header
              %h2#customizing Customizing Bootstrap
            %p.lead Customizing Bootstrap is best accomplished when you treat it as another dependency in your development stack. Doing so ensures future upgrades are as easy as possible while also familiarizing yourself to the intricacies of the framework.
            %p Once you've downloaded and included Bootstrap's CSS into your templates, you can move on to customizing the included components. To do so, create a new stylesheet (LESS, if you like, or just plain CSS) to house your customizations.
            .rbp-callout.rbp-callout-info
              %h4 Compiled or minified?
              %p Unless you plan on reading a good chunk of the compiled CSS, go with the minified. It's the same code, just compacted. Less bandwidth is good, especially in production environments.
            %p From there, include whatever Bootstrap components and HTML content you need to get your template setup. It's best to have a rough idea in mind of modifications to make and content to include, so be sure to spend a brief amount of time on that before moving on.

    /
      Footer
      \==================================================
    %footer.rbp-footer{:role => "contentinfo"}
      .container= render 'layouts/footer'